select {
  width: auto;
  min-width: 4rem;
  max-width: 15rem;
  padding: 1rem; 
  padding-right: 3rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  text-align: center; 
  background-color: #007BFF;
  border: 0.8rem solid #dbc234; /* Borde azul */
  color: #333; /* Color del texto */
  font-size: 2rem;
  transition: all 0.3s ease; /* Transición suave para el borde y fondo */
}

.appContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .snapSection {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .dropZone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    background-color: #001f3f;
    color: #fff;
    cursor: pointer;
    text-align: center;
  }
  
  .buttonContainer {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  
  .actionButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .correlation-matrix-container {  
    padding: 2rem;
    display: block;
  }

  th, td {
  padding: 10px;
  text-align: center;
}

table {
      width: 100%;
      height: 100%;
      font-size: medium;
}
  
  @media (max-width: 680px) {
    table {
      width: 100%;
      height: 100%;
    }
    th, td{
      padding: 0.1rem;
    }

    @media (max-width: 200px) {
      table {
        width: 100%;
        height: 100%;
      }
      th, td{
        padding: 0;
      }  
  }