/* Tabla de la pivot table */

.pvtTable {
  background-color: var(--card-bg-color);
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  width: 100%;
}

.pvtTable th, .pvtTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--secondary-color);
}

.pvtVal {
  text-align: right;
  font-weight: bold;
}

.pvtTotalLabel, .pvtGrandTotal {
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: bold;
}

/* Desplegables */
.pvtDropdownValue, .pvtDropdown {
  background-color: var(--card-bg-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  padding: 5px;
  border-radius: 4px;
}
