@import "tailwindcss";
  
    .table-container {
      overflow-x: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  
    .table-container h3 {
      color: black;
    }
    
    table {
      border-collapse: collapse;
      width: auto; 
      background-color: color(rgb(67, 129, 146));
    }
    
    th, td {
      width: auto;
      text-align: center;
      padding: 0.6em;
      background-color: rgb(43, 43, 196);
    }
    
  
    .lables{
      color: white
    }
    
    