body{
  background-color: color(display-p3 0.31 0.31 0.552);
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(2, 1fr);    
    gap: 5px;  
    width: 100%;
    height: 100vh;  
  }
  
  .dashboard-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: color(display-p3 0.15 0.9 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  

  .pivotContainer {
    transform: scale(1); 
    transform-origin: top left;
    width: 100%; 
    height: 100%;
    overflow: hidden;
  }

  .pvtUi-quadrant {
    transform: scale(0.75) translate(-23%, -27%); 
    transform-origin: top left;
  }


  .table-container {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .table-container h3 {
    color: black;
  }
  
  table {
    border-collapse: collapse;
    width: auto; 
    background-color: color(display-p3 0.15 0.9 0.8);
  }
  
  th, td {
    width: auto;
    text-align: center;
    padding: 0.6em;
    background-color: rgb(99, 96, 96);
  }
  
  
  