body {
    background: linear-gradient(
      145deg,
      color(rgb(12, 15, 20)),
      color(rgb(20, 25, 51))
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), 
                inset 0 1px 4px color(rgba(28, 51, 76)),
                inset -1px -1px 2px color(rgba(5, 7, 12));
    
  }
  
  
  .dashboard-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);  
      grid-template-rows: repeat(2, 1fr);    
      gap: 5px;  
      width: 100%;
      height: 100vh;  

    }
    
    .dashboard-item {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-color: color(rgba(25, 51, 76));
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
    }
    
  
    .pivotContainer {
      transform: scale(1); 
      transform-origin: top left;
      width: 100%; 
      height: 100%;
      overflow: hidden;
    }
  
    .pvtUi-quadrant {
      transform: scale(0.75) translate(-23%, -27%); 
      transform-origin: top left;
    }
  
  
    .table-container {
      overflow-x: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  
    .table-container h3 {
      color: black;
    }
    
    table {
      border-collapse: collapse;
      width: auto; 
      background-color: color(rgb(67, 129, 146));
    }
    
    th, td {
      width: auto;
      text-align: center;
      padding: 0.6em;
      background-color: rgb(43, 43, 196);
    }
    
  
    .lables{
      color: white
    }
    
    